<form (ngSubmit)="onFormSubmit()">
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment</label>
            <input name="initial-investment" id="initial-investment" type="number" [(ngModel)]="enteredInitialInvestments"/>
        </p>

         <p>
            <label for="anuual-investment">Annual Investment</label>
            <input name="annual-investment" id="annual-investment" type="number" [(ngModel)]="enteredAnnualInvestments"/>
        </p>
    </div>

        <div class="input-group">
        <p>
            <label for="expected-return">Expected Return Rate</label>
            <input name="expected-return" id="expected-return" type="number" [(ngModel)]="enteredExpectedReturn"/>
        </p>

         <p>
            <label for="duration">Duration</label>
            <input name="duration" id="aduration" type="number" [(ngModel)]="enteredDuration"/>
        </p>
    </div>

    <p>
        <button>Calculate</button>
    </p>
</form>
